<section class="man-shoes-block">
   <div class="container">
         <div class="row">
            <div class="col-md-6 man-shoes-img">
               {{ content.body }}
            </div>
            <div class="col-md-6 man-shoes-img">
               {{ content.field_product }}
            </div>
         </div>
    </div>
</section>